@import url('https://fonts.googleapis.com/css2?family=Climate+Crisis&display=swap');


.website_Name{
  font-size: 90px;
  font-family: 'Climate Crisis', sans-serif;
  position: absolute;
  top: 0;
  right: 0;

}